anyascii==0.1.7
APScheduler==3.6.3
asgiref==3.3.1
autopep8==1.5.4
beautifulsoup4==4.8.2
boto==2.49.0
boto3==1.16.26
botocore==1.19.26
cement==2.8.2
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
clarifai==2.6.2
click==8.0.1
colorama==0.4.3
ConfigArgParse==1.5.1
configparser==3.8.1
crayons==0.4.0
cryptography==3.3.1
dateparser==1.1.0
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
dj-database-url==0.5.0
Django==3.1.4
django-admin-search==0.3.5
django-apscheduler==0.5.1
django-categories-i18n==1.1.1
django-ckeditor==6.0.0
django-classy-tags==2.0.0
django-cms==3.8.0
django-cors-headers==3.7.0
django-crontab==0.7.1
django-filer==2.0.2
django-filter==2.4.0
django-fluent-blogs==2.0.6
django-fluent-contents==2.0.7
django-fluent-utils==2.0.1
django-formtools==2.2
django-heroku==0.3.1
django-import-export==2.4.0
django-js-asset==1.2.2
django-modelcluster==5.1
django-mptt==0.11.0
django-parler==2.2
django-paypal==1.0.0
django-polymorphic==3.0.0
django-sekizai==2.0.0
django-sendgrid-v5==0.9.1
django-slug-preview==1.0.4
django-tag-parser==3.2
django-taggit==1.3.0
django-taggit-autocomplete-modified==0.1.0b6
django-template-analyzer==1.6.2
django-treebeard==4.3.1
django-wysiwyg==0.8.0
djangocms-admin-style==2.0.2
djangocms-attributes-field==2.0.0
djangocms-bootstrap4==2.0.0
djangocms-file==3.0.0
djangocms-googlemap==2.0.0
djangocms-icon==2.0.0
djangocms-installer==2.0.0
djangocms-link==3.0.0
djangocms-picture==3.0.0
djangocms-style==3.0.0
djangocms-text-ckeditor==4.0.0
djangocms-video==3.0.0
djangorestframework==3.12.2
dnspython==2.0.0
draftjs-exporter==2.1.7
easy-thumbnails==2.7.1
EasyProcess==0.3
emoji==0.6.0
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
Flask-BasicAuth==0.2.0
Flask-Cors==3.0.10
future==0.17.1
gevent==21.1.2
geventhttpclient==1.4.4
googleapis-common-protos==1.52.0
greenlet==1.1.0
grpcio==1.34.0
gunicorn==20.1.0
html5lib==1.1
idna==2.10
instapy==0.6.12
itsdangerous==2.0.1
jdcal==1.4.1
jet-bridge-base==1.0.5
jet-django==1.1.8
Jinja2==3.0.1
jmespath==0.10.0
jsonschema==2.6.0
l18n==2020.6.1
locust==1.6.0
lxml==4.6.2
MarkupPy==1.14
MarkupSafe==2.0.1
MeaningCloud-python==2.0.0
msgpack==1.0.2
mysqlclient==2.0.3
oauthlib==3.1.1
odfpy==1.4.1
openai==0.2.6
openpyxl==3.0.5
pathspec==0.5.9
Pillow==8.0.1
plyer==2.0.0
prompt-toolkit==2.0.9
protobuf==3.14.0
psutil==5.8.0
psycopg2==2.9.3
py3-validate-email==0.2.12
pycodestyle==2.6.0
pycparser==2.20
pyemailval==0.55555
pyIsEmail==1.3.2
PyJWT==2.3.0
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pypiwin32==223
PySocks==1.7.1
python-dateutil==2.8.1
python-decouple==3.6
python-emailahoy==0.1
python-http-client==3.3.1
python-telegram-bot==13.1
python3-openid==3.2.0
pytz==2020.4
pywin32==302
PyYAML==5.3.1
pyzmq==22.1.0
razorpay==1.2.0
regex==2020.11.13
requests==2.25.0
requests-oauthlib==1.3.0
s3transfer==0.3.3
selenium==3.141.0
semantic-version==2.8.5
sendgrid==6.4.7
six==1.14.0
social-auth-core==4.1.0
soupsieve==2.1
SQLAlchemy==1.3.22
SQLAlchemy-Utils==0.36.8
sqlparse==0.4.1
starkbank-ecdsa==1.1.0
stripe==2.59.0
tablib==2.0.0
termcolor==1.1.0
toml==0.10.2
tornado==6.1
tqdm==4.55.1
tzlocal==2.1
Unidecode==1.1.2
urllib3==1.25.11
validate-email==1.3
wagtail==2.11.3
wagtail-blog==2.3.5
wcwidth==0.1.9
webdriver-manager==3.2.2
webdriverdownloader==1.1.0.3
webencodings==0.5.1
Werkzeug==2.0.1
whitenoise==6.2.0
Willow==1.4
xlrd==1.2.0
XlsxWriter==1.3.7
xlwt==1.3.0
zope.event==4.5.0
zope.interface==5.4.0
